/* You can add global styles to this file, and also import other style files */
// https://github.com/angular/material2/blob/master/src/lib/core/typography/_typography.scss
@import './variables';
@import './mixins';
@import "~@angular/material/prebuilt-themes/indigo-pink.css";

body {
  margin: 0;
  padding: 0;
  font: 100% $font-stack;
  color: $primary-color;
}
ul, li { margin:0; padding:0;}

.container {
  width: $screen-venti;
  border: 1px solid #ccc;
}

nuspacer{
  margin: 10px 0 0 20px;
  font-size: 16px;
}



// Material Overrides... Can be moved to a seperate file ?????
.mat-toolbar {
    background-color: $site-theme-color!important;
}
