<div fxLayout="row" fxLayoutAlign="Start start">
  <div fxFlex="15%">
    <nav>
      <h3>Materail 2 Examples</h3>
      <ul>
          <li><a routerLink="/mat/card">Card Example</a></li>
          <li><a routerLink="/mat/autocomplete">Auto Complete Example</a></li>
          <li><a routerLink="/mat/checkbox">Checkbox Example </a></li>
          <li><a routerLink="/mat/datepicker">Datepicker Example </a></li>
          <li><a routerLink="/mat/formfield">FormField Example </a></li>
          <li><a routerLink="/mat/input">Input Example </a></li>
          <li><a routerLink="/mat/radio">Radio Example </a></li>
          <li><a routerLink="/mat/select">Select Example </a></li>

      </ul>
    </nav>
  </div>
  <div fxFlex="85%">
    <router-outlet></router-outlet>
  </div>
</div>
